<template name="users">
    <div class="grid">
      <div class="user-table grid-block">
        <h1>Utilisateurs</h1>
        <table>
          <thead>
            <tr>
              <td colspan="2">Nom</td>
              <td>Membre depuis</td>
              <td>Email</td>
              <td>Posts</td>
              <td>Commentaires</td>
              <td>Karma</td>
              <td>Invité ?</td>
              <td>Administrateur ?</td>
              <td>Supprimer</td>
            </tr>
          </thead>
          <tbody>
              {{#each users}}
                {{> user_item}}
              {{/each}}
          </tbody>
        </table>
      </div>
    </div>
</template>
